* {
  color: #fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir,
    Helvetica, sans-serif;
  background-image: url(/static/background/background-image.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
nav {
  top: 0;
  width: 100%;
  text-align: center;
  position: fixed;
  background: #13A4FD;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0;
  .nav-image {
    display: flex;
    margin: 0 0.5em;
    .image-show {
      width: 50px;
      height: 50px;
      background: #fff;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      margin: 0 0.2em;
      overflow: hidden;
}
  }
  .nav-center-text {
    font-size: 16px;
    text-transform: uppercase;
    span {
      font-size: 20px;
      margin: 0 0.5em;
    }
  }
}
.back-workshop {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  color: #000;
  transition: 0.5s all ease-in-out;
  &:hover {
    color: rgba(0, 0, 0, 0.5);
  }
}
.workshop-list-wrapper {
  width: 100%;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  margin-bottom: 1em;
  cursor: pointer;
  .workshop-list {
    font-size: 16px;
    padding: 1em;
    transition: 0.2s all ease-in-out;
    text-align: center !important;
    &:hover {
      transform: scale(1.05);
    }
  }
  a {
    text-decoration: none;
    color: #000;
    transition: 0.2s all ease-in-out;
  }
}

.login-wrapper {
  width: 300px;
  height: 500px;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 0 auto;
  position: relative;
  .back-to-home {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}

.form-login {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  & > input{
    padding: 0.75em 2em;
    margin: 1em auto;
    width: 50%;
    color: #000;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    outline: none;
    text-align: center;
  }
  .login-button {
    color: #000;
    width: 50%;
    margin: 2em auto;
    padding: 0.75em 2em;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    outline: none;
    transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
      transform: scale(1.05);
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
    }
    &:active {
      transform: scale(0.95);
      -webkit-transform: scale(0.95);
      -moz-transform: scale(0.95);
      -ms-transform: scale(0.95);
      -o-transform: scale(0.95);
    }
  }
}